<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lagou.dao.PromotionSpaceMapper">
    <update id="updatePromotionSpace" parameterType="com.lagou.damian.PromotionSpace">
        update promotion_space
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="spaceKey != null and spaceKey != ''">
                spaceKey = #{spaceKey},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime},
            </if>
            <if test="isDel != null and isDel != 0">
                isDel = #{isDel},
            </if>
        </trim>
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </update>
</mapper>